
$primary-color:#000;
$secondary-color:#fff;
.c{
    color: $primary-color;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 3rem;
    display: grid;
    place-items: center;
}

.bg{
    background-color: $secondary-color;
}